.footer .container {
  display: flex;
  justify-content: space-between;
  padding: 15px 0 15px 0;
}

.right_footer_icon {
  padding: 5px;
}

.footer_link {
  text-decoration: none;
  border: 1px solid;
  color: black;
  border: none;
}
